.modal-header
	h4.modal-title Task history
.modal-body
	ul.nav.nav-pills.nav-stacked.task-history-list
		li(ng-repeat="task in tasks"): a(ng-click="openTask(task)" href="#")
			h4.center-block(ng-if="task.tpl_alias.length > 0") {{ task.tpl_alias }}
			h4.center-block(ng-if="task.tpl_alias.length == 0") No alias
			span(ng-class="{ 'text-muted': task.status == 'waiting', 'text-info': task.status == 'running', 'text-danger': task.status == 'error', 'text-success': task.status == 'success' }")
				span(ng-if="task.playbook.length == 0") {{ task.tpl_playbook }}
				span(ng-if="task.playbook.length > 0") {{ task.playbook }}
			span.pull-right(ng-if="task.status == 'waiting'") {{ task.createdFormatted }}
			span.pull-right(ng-if="task.status != 'waiting'") {{ task.startFormatted }}
			br
			span &nbsp;
			span.pull-right {{ task.duration }} minutes
			br
			span &nbsp;
			span.pull-right(ng-if="task.user_name") by {{ task.user_name }}
		.text-center
			button.btn.btn-default.btn-s(ng-click="reload($lastTasks=false)" margin-top="10px") Show all tasks
