.modal-header
	h4.modal-title Task history
.modal-body
	.alert.alert-info(ng-if="tasks.length == 0", style="margin-bottom: 0;") No tasks
	ul.nav.nav-pills.nav-stacked.task-history-list(ng-if="tasks.length > 0")
		li(ng-repeat="task in tasks"): a(ng-click="$close({ action: 'view', task: task })" href="#")
			.clearfix(style="margin-bottom: 7px;")
				b.float-left(style="margin-right: 10px;") {{ '#' + task.id }}
				.float-left.highlighted(style="margin-right: 10px;" ng-class="{ 'bg-warning': task.status == 'waiting', 'bg-danger': task.status == 'error', 'bg-info': task.status == 'running', 'bg-success': task.status == 'success' }") {{ task.status }}
				.float-left(ng-if="task.build_task_id") build {{ task.build_task_id }}
				.float-left(ng-if="task.description") {{ task.description }}
				button.btn.btn-primary.btn-xs.float-right(ng-if="task.build_task_id" ng-click="$close({ action: 'deploy', task: task })") deploy
			div
				span(ng-if="!task.start" ng-bind="task.createdFormatted")
				span(ng-if="task.start" ng-bind="task.startFormatted")
				span(ng-if="task.user_name" ng-bind="' by ' + task.user_name")
		.text-center
			button.btn.btn-default.btn-s(ng-click="reload($lastTasks=false)" style="margin-top: 10px") Show all tasks